@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --soft-cyan: hsl(174, 77%, 80%); /* Full slider bar */
    --strong-cyan: hsl(174, 86%, 45%); /* Slider bg */
    --light-grayish-red: hsl(14, 92%, 95%); /* Discount bg */
    --light-red: hsl(15, 100%, 70%); /* Discount text */
    --pale-blue: hsl(226, 100%, 87%); /* CTA Text */

    --very-plate-blue: hsl(230, 100%, 99%); /* Main bg */
    --light-grayish-blue: hsl(244, 65%, 95%); /* Empty slider */
    --light-grayish-blue: hsl(223, 50%, 87%); /* Toggle bg */
    --grayish-blue: hsl(225, 20%, 60%); /* Text */
    --dark-desaturated-blue: hsl(227, 35%, 25%) /* Text & CTA Background */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--very-plate-blue);
    font-family: "Manrope", sans-serif;
}

.bg-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.bg-container img {
    position: absolute;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    -webkit-box-shadow: 0 .25em .75em rgba(0,0,0,.1);
    box-shadow: 0 .25em .75em rgba(0,0,0,.1);
    width: 60%;
    border-radius: .75rem;
    padding: 2.5rem;
}

.intro {
    position: relative;
    width: 75%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 7rem;
}

p {
    color: var(--grayish-blue);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.top > p {
    text-transform: uppercase;
}

.top .price > * {
    display: inline-block;
}

.body .slider {
    position: relative;
    height: .5rem;
    width: 100%;
}

.body .slider > *:not(.slider-btn) {
    border-radius: .5rem;
}

.body .slider .bg {
    width: 100%;
    background: var(--light-grayish-blue);
}

.body .slider .progress {
    width: 50%;
    background: var(--soft-cyan);
}

.body .slider .bg,
.body .slider .progress {
    position: absolute;
    height: 100%;
}

.body .slider .slider-btn img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--strong-cyan);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    padding: .6rem;
    z-index: 2;
    -webkit-box-shadow: 0 .75em 1em .1em rgba(16,213,194,.5);
    box-shadow: 0 .75em 1em .1em rgba(16,213,194,.5);
    cursor: pointer;
}

.body .slider .slider-btn img:hover {
    background-color: var(--soft-cyan);
}

.body .info {
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .info .check-slider {
    position: relative;
    margin-left: .5em;
    width: 3rem;
    height: 1.5rem;
    border-radius: 9999px;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
}

.body .info .check-slider:hover {
    background-color: var(--soft-cyan);
}

.body .info .check-slider .btn {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    height: calc(100% - 5px);
    width: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.body .info div:first-child {
    margin-right: 1em;
    display: flex;
    align-items: center;
}

.body .info div > * {
    display: inline-block;
}

.body .seperator {
    width: 100%;
    height: 1px;
    background-color: var(--light-grayish-blue);
}

.body .billing-info .discount {
    border-radius: 9999px;
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    margin-left: .5em;
    padding: .25em .5em;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.features .feature {
    position: relative;
    padding: .35em 0;
    text-transform: capitalize;
}

.features .feature::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15%;
    height: .75rem;
    width: .75rem;
    background-image: url('images/icon-check.svg');
    background-position: center center;
    background-size: cover;
    transform: translateY(-50%);
}

.features .trial {
    outline: none;
    border: none;
    background: var(--dark-desaturated-blue);
    color: var(--pale-blue);
    padding: 1.25em 4.5em;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.features .trial:hover {
    color: white;
}
